:root {
    --white: #fff;
    --black: #000;
    --pink1: #ffe3e7;
    --pink2: #ff99a9;
    --carattere: "Carattere", cursive;
    --indie: "Indie Flower", cursive;
    --itim: "Itim", cursive;
    --gill: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*-- ALL CONTENT --*/

body {
    box-sizing: border-box;
    background-color: #fff;
    padding-bottom: 100px;
    max-width: 1300px;
    justify-content: center;
    margin: auto;
}

ul, li, a {
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding-inline-start: 0;
}

ul, .navigation ul {
    padding-inline-start: 0;
}

button {
    cursor: pointer;
}


h1 {
    font-size: 2em;
    font-family: var(--itim);
    text-transform: uppercase;
    margin: 30px;
}
 
h2 {
    font-size: 1.5em;
    font-family: var(--itim);
    text-align: center;
    text-transform: uppercase;
    padding: 60px 0 20px;
    margin: 0;
    letter-spacing: 0.1em;
    color: var(--pink1);
    -webkit-text-stroke: 1.5px var(--black);
    filter: drop-shadow( 0 0 20px var(--pink2));
}

h3, h4 {
    font-size: 1.1em;
    text-transform: uppercase;

}

p {
    font-size: 1em;

}

/*-- NAVIGATION --*/

.navigation ul {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    font-family: var(--gill);
    font-weight: 700;
    justify-content: space-evenly;
    padding: 5px 0;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 0.6em;
    margin: 20px auto 0;
    position: fixed;
    bottom: 0px;
    box-sizing: border-box;
    background-color: var(--pink1);
    width: 100%;
    max-width: 1300px;
    height: 75px;
    z-index: 10;
    border-top: 4px groove var(--black);
    box-shadow: 0 -3px 15px var(--black);
    border-radius: 20px 20px 0 0;
}

.navigation a {
    display: block;
    justify-content: center;
    padding: 4px;
}

.navigation img {
    height: 30px;
}

.homecontainer, 
.aboutcontainer, 
.projectcontainer, 
.contactcontainer {
    box-shadow: 0 10px 17px var(--black);
    border-radius: 0 0 10px 10px;
}

.homecontainer {
    border-radius: 0;
}

.skillcontainer, .cards {
    border-radius: 0 0 10px 10px;
}


/*-- HOME --*/


.homecontainer {
    display: block;
    background-image: url(/images/valentinepink.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    height: 400px;
}

.homecontent {
    display: block;
    text-align: center;
    /* backdrop-filter: blur(5px); */
    height: max-content;
    border-radius: 50%;
    margin: 20px auto;
}

.hometxt {
    /* background-color: rgb(255, 250, 250, 0.35); */
    justify-content: center;
}

.hometxt p {
    font-size: 3em;
    font-family: var(--carattere);
    margin: -20px 30px 0;
}

.myimg img {
    position: relative;
    max-width: 200px;
    margin: 5px 30px 30px;
    border-radius: 90px 50%;
    border-bottom: 4px solid var(--black); 
    float: right;
}

/* .box1 {
    display: block;
    width: 80%;
    max-width: 400px;
    height: 350px;
    background-color: var(--pink2);
}

.box2 {
    display: block;
    position: absolute;
    width: 80%;
    max-width: 370px;
    height: 270px;
    margin: 30px;
    border-radius: 0 0 30% 0;
    background-color: var(--pink1);
} */
/* 
.box3 {
    display: block;
    position: relative;
    width: 50%;
    min-width: 250px;
    min-height: 250px;
    margin: 250px 10px 0 -80px;
    border-radius: 20% 70px;
    transform: rotate(10deg);
    background-color: var(--pink3);
} */

/*-- ABOUT --*/


.aboutcontainer {
}


.skillcontainer {
    background-color: var(--pink1);    
    text-align: center;
    padding: 10px 0 0;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
    margin: auto ;
    padding: 30px ; 
}

.skills img {
    max-width: 30%;
    margin: 10px auto;
    justify-content: center;
    border: 2.5px solid var(--pink2);
    border-radius: 0 0 15px 15px / 0 0 70px 70px ;
    padding: 2px 10px;
}


/*-- PROJECTS --*/


.projectcontainer {
    display: block;
    width: 100%;
    justify-content: center;
}

.typeproject {
    margin-top: -15px;
}

.cards {
    background: linear-gradient(var(--pink1), var(--pink2) 50%, var(--pink1));
    padding: 10px 0 30px;
    margin: auto;
}

.cards img {
    width: 100%;
}

.card1, .card2, .card3 {
    width: 90%;
    background-color: var(--white);
    border: 2px solid var(--black);
    margin: 20px auto;
    box-shadow: 0 0 20px var(--black);
    justify-content: center;
    text-align: center;
    max-width: 600px;
}

.card3 {
    margin-bottom: 0;
}

/* 
.card1 p, 
.card1 a, 
.card2 p, 
.card2 a, 
.card3 p, 
.card3 a {
    padding: 10px;
} */


.links ul {
    display: flex;
    justify-content: center;
}

.links ul a {
    padding: 0 20px;
}



/*-- CONTACT --*/


@media only screen and (min-width: 768px) {


.navigation ul {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;
    letter-spacing: 0.2em;
    font-size: 0.8em;
    margin: 0;
    bottom: 20px;
    right: 0;
    width: 50%;
    border: 4px groove var(--black);
    border-right: none;
    border-radius: 0;
}



/*-- HOME --*/
/*-- ABOUT --*/


.skills {
    grid-template-columns: repeat(6, auto);
    max-width: 900px;
}

/*-- PROJECT --*/
/*-- CONTACT --*/

}