:root {
    --white: #fff;
    --black: #000;
    --color1: #F0E7E0;
    --color2: #bba99b;
    --color3: #B4B4B4;
    --color4: #0000004a;
    --color5: #ffffff6d;
    --allison: "Allison", cursive;
    --indie: "Indie Flower", cursive;
    --itim: "Itim", cursive;
    --gill: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*-- ALL CONTENT --*/

*,*::before, *::after {
    box-sizing: border-box;
}

body {
    background-image: url(/images/neutralbeige.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: #fff;
    padding-bottom: 70px;
    max-width: 1200px;
    justify-content: center;
    margin: auto;
}

html {
    scroll-behavior: smooth;
}

ul, li, a {
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding-inline-start: 0;
}

ul, .navigation ul {
    padding-inline-start: 0;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 1.6em;
    font-family: var(--gill);
    text-transform: uppercase;
    margin: 30px 30px 15px;
}
 
h2 {
    display: block;
    font-size: 1.5em;
    font-family: var(--itim);
    max-width: 200px;
    text-align: center;
    text-transform: uppercase;
    padding: 70px 0 15px;
    margin: auto;
    letter-spacing: 0.1em;
    color: var(--black);
}

h3, h4 {
    font-size: 1em;
    text-transform: uppercase;
}

p {
    font-size: 1em;
    font-family: var(--itim);
    letter-spacing: 0.05em;
}

.contenttxt, .contenttxtinfo {
    background-color: var(--color5); 
    margin: auto; 
    padding: 20px 0;
    text-align: center;
    border-top: 7px double var(--color3);
    border-bottom: 7px solid var(--color3);
}

.contenttxt h3 {
    font-family: var(--allison);
    font-size: 2.4em;
    margin: 0;
    padding: 5px 0 10px;
    text-transform: capitalize;
    letter-spacing: 0.05em;
}

.contenttxt p, .contenttxtinfo p  {
    max-width: 950px;
    padding: 20px;
    text-align: left;
    margin: auto;
}

.homecontainer, 
.aboutcontainer, 
.projectcontainer, 
.contactcontainer {
    box-shadow: 0 10px 17px var(--black);
    border-radius: 0 0 10px 10px;
    animation: move 0.6s linear;
}

@keyframes move {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
    
}
.homecontainer {
    border-radius: 0;
}

.skillcontainer, .cards {
    border-radius: 0 0 10px 10px;
}

.openbtn {
    display: none;
    visibility: hidden;
}



/*-- NAVIGATION --*/

header {
    justify-content: center;
    text-align: center;
    margin: 20px auto 0;
    position: fixed;
    bottom: 0px;
    box-sizing: border-box;
    background-color: var(--color4);
    width: 100%;
    max-width: 1200px;
    height: 85px;
    z-index: 10;
    border-top: 4px groove var(--black);
    box-shadow: 0 -3px 15px var(--black);
    border-radius: 20px 20px 0 0;
}

.navigation ul {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    margin: auto;
    max-width: 500px;
    justify-content: center;
    font-family: var(--gill);
    font-weight: 700;
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 5px 0;
}

.navigation li {
    display: block;
    width: 90%; 
    max-width: 80px;
    margin: auto;
    padding: 5px 0;
    background: linear-gradient(0.39turn, var(--color2), var(--white) 80%);
    border-radius: 20%;
    border: 1px solid var(--black);
}

.navigation li:hover {
    background: var(--white);
}

.navigation p {
    display: block;
    justify-content: center;
    margin: 0;
}

.navigation img {
    height: 30px;
}



/*-- HOME --*/

.homecontainer {
    display: block;
    background-image: url(/images/_neutral-abstract-.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.homecontent {
    display: grid;
    grid-template-rows: auto auto;
    /* backdrop-filter: blur(5px); */
    height: max-content;
    max-width: 550px;
    border-radius: 50%;
    margin: auto;
}

.hometxt {
    justify-content: left;
    margin-top: 30px;
}

.hometxt p {
    font-size: 3.5em;
    font-family: var(--allison);
    margin: -30px 30px 0;
}

.myimg img {
    position: relative;
    max-width: 200px;
    margin: -10px 30px 30px;
    border-radius: 90px 50%;
    /* border-bottom: 2px solid var(--black);  */
    float: right;
}



/*-- PROJECTS --*/

.projectcontainer {
    display: block;
    width: 100%;
    justify-content: center;
}

.typeproject {
    margin-top: -10px;
    font-size: 0.9em;
}

.cards {
    padding: 10px 0 30px;
    background-image: url(/images/beige-earth-tone.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin: auto;
}

.cards img {
    width: 100%;
}

.card1, .card2, .card3 {
    width: 90%;
    max-width: 500px;
    background-color: var(--white);
    border: 2px solid var(--black);
    margin: 20px auto;
    padding-bottom: 20px;
    box-shadow: 0 0 20px var(--black);
    justify-content: center;
    text-align: center;
}

.card3 {
    margin-bottom: 0;
}
 
.cardtxtblock p {
    padding: 10px 8px;
}

.links ul {
    display: flex;
    margin-top: 20px;
    font-size: 0.9em;
    justify-content: center;
}

.links ul li a {
    padding: 30px 10px;
}

.links li {
    font-family: var(--itim);
    width: 80px;
    border: 1px solid var(--color2);
    box-shadow: 0 0 10px var(--black);
    margin: 0 10px;
    padding: 3px 0;
    border-radius: 80% 40px;
    transition: transform 0.8s;
}

.links:hover li:hover {
    transform: translateY(-3px);
    transition: transform 0.6s;
    scale: 130%;
    border: 1px solid var(--black);
}

.tools {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    height: fit-content;
}

.tools p {
    font-size: 0.7em;
    background-color: var(--color1);
    border: 2px solid var(--color2);
    padding: 0 5px;
    margin: 0 3px;
}



/*-- ABOUT --*/

.skillcontainer {
    background-color: var(--color1);    
    text-align: center;
    padding: 10px 0 0;
}

.skills {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto auto;
    max-width: 500px;
    justify-content: center;
    margin: auto;
    padding: 0 20px;
}

.skills div {
    display: block;
    width: 80%;
    max-width: 80px;
    margin: 20px auto;
    border: 2.5px solid var(--color2);
    border-radius: 0 0 15px 15px / 0 0 70px 70px ;
}

.skills p {
    margin-top: -10px;
    font-size: 0.8em;
}

.skills img {
    max-width: 60%;
    margin: 10px auto;
    justify-content: center;
}



/*-- CONTACT --*/

.contactcontainer .contenttxt {
    display: block;
    background-image: url(/images/minimal-background.jpg);
    background-size: cover;
    background-position: bottom;
    height: 270px;
}

.linkbtn{
    display: grid;
    grid-template-columns: repeat(3, 25%) ;    
    justify-content: center;
    max-width: 500px;
    margin: 20px auto;
}

.linkbtn button {
    background-color: transparent;
    width: 60px;
    height: 60px;
    padding: 5px;
    margin: auto;
    border-radius: 50% 50%;
    border: none;
}

.linkbtn button img {
    scale: 4;
}

.contactcontainer .contenttxt img {
    max-width: 30%;
}

.contactcontainer .contenttxt img:hover {
    scale: 5.5;
    transition: 0.5s ease-in-out;
}



/*-- FOOTER --*/

footer p {
    justify-content: center;
    text-align: center;
    padding: 30px 0;
    margin: 0 auto 30px;
    background-color: var(--color2);
}



@media only screen and (min-width: 550px) {

/*-- PROJECT --*/

.hometxt {
    margin-top: 60px;
}

.myimg {
    margin-top: -50px;
}
}


@media only screen and (min-width: 768px) {

.navigation ul {
    height: 80px;
}

.navigation li {
    margin: 0 auto 10px;
}

p, .contenttxt p, .contenttxtinfo p {
    font-size: 1.2em;
}



/*-- HOME --*/

.homecontent {
    display: flex; 
    justify-content: center;
    max-width: 1000px;
    margin-top: 50px;
}

.hometxt {
    font-size: 1.4em;
}
.myimg  {
    margin-top: 40px;
    float: none;
}


/*-- PROJECT --*/

.card1, .card2, .card3 {
    display: grid;
    grid-template-columns: 40% 60%; 
    padding-bottom: 0;
    max-width: 750px;
    height: 350px;
}

.cardblock {
    background-color: var(--color1);
}

.cardblock h3, .cardblock p {
    text-align: left;
    padding-left: 10px;
}

.cards img {
    max-width: 100%;
    height: 180px;
    padding: 0;
    margin: 0;
    object-fit: cover;
}

.cardtxtblock {
    display: grid;
    grid-template-rows: 75% 20%;
}

.cardtxtblock p {
    text-align: left;
    padding: 3px 10px 0;
}

.tools {
    justify-content: left;
    padding-top: 10px;
}

.tools p {
    background-color: var(--white);
    padding: 0 5px;
}


/*-- ABOUT --*/

.skills {
    grid-template-columns: repeat(8, auto);
    max-width: 1200px;
    padding: 0;
    box-shadow: inset 0 0 20px var(--color2);
}

.skills div {
    width: 90%;
}


/*-- CONTACT --*/

.contenttxt h3 {
    font-size: 3em;
}
}


@media only screen and (min-width: 1000px) {

body {
    padding-bottom: 10px;
}

h2 {
    font-size: 2.2em;
    padding-top: 80px;
    min-width: 300px;
}

h3 {
    font-size: 1.2em;
}

p, .contenttxt p, .contenttxtinfo p {
    font-size: 1.4em;
}

.contenttxt h3 {
    font-size: 2.5em;
}

header {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    top: 0;
    border-radius: 0;
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: 0 3px 10px var(--black);
}

.navigation ul {
    display: flex;
    max-width: 70%;
}

.navigation li {
    margin: 0 10px;
    min-width: 90px;
    height: 60px;
}

.navigation p {
    padding-bottom: 5px;
}


/*-- HOME --*/

.homecontainer {
    background-position: top; 
}

.homecontent {
    padding-top: 40px;
}
 

/*-- PROJECT --*/

.cards { 
    display: grid;
    grid-template-columns: repeat(3, 31%);   
    justify-content: center;
    font-size: medium;
}

.card1, .card2, .card3 {
    display: block;
    max-width: 400px;
    height: 500px; 
    backdrop-filter: var(--black);
} 

.cardblock h3, .cardblock p, .tools {
    text-align: center;
    font-size: larger;
    justify-content: center;
}

.tools {
    font-size: x-small;
}

.cardblock {
    display: block;
    text-align: center;
    justify-content: center;
    margin: auto;
    background-color: var(--white);
}

.cards img {
    max-height: 200px;
    height: 190px;
    object-fit: cover;
}

.cardtxtblock {
    display: block;
    padding-top: 5px;
}

/*-- ABOUT --*/

.skills {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.3em;
}


/*-- CONTACT --*/

.contenttxt h3 {
    font-size: 3.2em;
}


/*-- MODAL --*/

.modal {
    width: 70%;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    line-height: 2em;
    border: 14px solid var(--color2);
}

.modal p {
    text-align: center;
    font-size: 1em;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.openbtn {
    display: block;
    visibility: visible;
    justify-content: center;
    width: 60%;
    height: fit-content;
    font-size: 1em;
    font-family: var(--itim);
    margin: 40px auto;
    border: 3px solid var(--color2);
    padding: 5px;
    transition: 1s ease-in-out;
    background-color: var(--white);
    text-transform: uppercase;
    box-shadow: inset 0 0 10px var(--color2);
}

.openbtn:hover {
    scale: 110%;
    transition: 0.8s ease-in-out;
    border-radius: 40px;
    border: 3px solid var(--color1);
}

.closebtn {
    background-color: transparent;
    border: none;
}

img.closeimg  {
    max-width: 60px;
    height: 60%;
}

.hide {
  display: none;
}

}